<main>
  <div class="main-container">
    <div class="form-container">
      <form [formGroup]="currencyForm">
        <div class="selection-container">
          <div>
            <select #c1 name="value1" class="form-select" id="currency1" formControlName="base1">
              <option *ngFor="let optionValue of optionValues">{{optionValue}}</option>
            </select>
          </div>
          <p>to</p>
          <div>
            <select #c2 name="value2" class="form-select" id="currency2" formControlName="base2">
              <option *ngFor="let optionValue of optionValues">{{optionValue}}</option>
            </select>
          </div>
        </div>
        <div class="inputBox">
          <input type="number" formControlName="inputValue">
          <span *ngIf="inputValue && inputValue.invalid && inputValue.touched">This input filed is not valid</span>
        </div>
      </form>
    </div>

    <button class="btn btn-secondary" on-click="convert()">Submit</button>
    <div class="result-container" *ngIf="inputValue && inputValue.valid&&check">
      <div>{{inputCurrency|number:'1.1-2'}} {{currencyForm.value['base1']}} = {{result|number:'1.1-2'}} {{currencyForm.value['base2']}}</div>
    </div>
  </div>
</main>
